/*------------------------------------------------------------------------*/
* {
  margin: 0;
  padding: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1.4rem;
  margin: 3rem;
  position: relative; 
  background-color: #fff;
}
/*---------------------------------------------------------------*/



/*---------------------------Logo-------------------------------------*/
header{
  width: 100%;
  font-family: inherit;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(221, 218, 218, 0.445);
}
a{
  text-decoration: none;
  color: black;
}
.vertical-line{
  width: 1px; /* Line width */
  background-color: rgba(0, 0, 0, 0.377); /* Line color */
  height: 3rem;
}
/*---------------------------------------------------------------*/



/*---------------------------Header--------------------------------------*/
.btn{ /*search btn*/
  border: none;
  background-color: transparent;
}
.header__left{
  /*align-self: stretch;*/
  position: relative;
  flex: 0 0 33.33333%;
  margin-bottom: 3rem;
}
.header__search{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.header__left input{
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  transition: all .3s;
}
.header__left input:focus{
  outline: none;
  width: 21rem;
}
.fa-search{
  font-size: 1.8rem;
  transition: all .3s;
}
.fa-search:hover{
  color:  #fe8777 ;
  cursor: pointer;
}
.header__search__btn{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100rem;
  margin-left: -3rem;
  position: relative;
  z-index: 2;
}
.header__logo span{
  font-size: 3rem;
}
/* .header__logo img{
  width: 12.8rem;
  height: 2.8rem;
} */
.header__submit{
  border: 1px solid rgba(204, 204, 204, 0.555);
  padding: 1rem 2rem;
}
.header__middle{
  flex: 0 0 33.33333%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__right{
  flex: 0 0 33.33333%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0 2rem;

}
/* .header__submit span{
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  display: inline-block;
  vertical-align: center;
} */
.header__login{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  transition: all .3s;
  padding-left: 0px;
}
.header__login:hover{
  color:  #fe8777 ;
}
.fa-sign-out-alt:hover{
    color:  #fe8777 ;
}
.fa-user{
  font-size: 1.6rem;
}
.header__cart{
  position: relative;
}
.header__cart span{
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(40%,40%);
  z-index: 100000;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100rem;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-shopping-bag{
  font-size: 2.7rem;
  transition: all 0.3s;

}
.fa-shopping-bag:hover{
  color:  #fe8777 ;
  cursor: pointer;
}
/*-----------------------------------------------------------------*/



/*------------------------------Banner---------------------------------*/
.container{
  width: 130rem;
  margin: 3rem auto;
  
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img{
  box-shadow: 0rem 0rem 3rem 0rem  rgba(0, 0, 0, 0.336)
}
/*--------------------------------------------------------------------*/


/*----------------------------PRODUCT CATEGORY------------------------------*/
.product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.product__heading{
  font-size: 3.5rem;
  margin: 6rem;
  font-weight: 600;
}
.product_category{
  display: flex;
  /*justify-content: space-between;*/
  /*align-items: center;*/
  flex-wrap: wrap;
  border-bottom: 1px solid #ccc;
}
.product__card{
  /*flex: 1 1 25%;*/
  padding: 3rem;
  color: #828282;
  align-self: stretch;
}

.product__card--body{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 1.3rem 2.4rem 0 rgb(0 0 0 / 5%);
  height: 304px;
    width: 262px;
}
  /* justify-content: center; 
  /* align-items: flex-start; */

.product__photo img{
  height: 24rem;
  width: 26rem;
  object-fit: cover;
}
.product__info{
align-self: stretch;
display: flex;
 justify-content: center; 
align-items: flex-start;
flex-direction: column;
gap: 1.5rem 0;
margin: .9rem;
position: relative;
height: 100%;
}
.product__info--text{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: .9rem 0;
}

/*tên sản phẩm*/
.group a{
  color: rgb(75, 75, 75);
  font-weight: 600;
}
.price{

}
.product__cart{
  position: absolute;
  right: 0;
  bottom: 0;
}
.product__cart--btn{
  font-family: inherit;
  font-weight: 500;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fe8777;
}
.product__cart--btn:hover{
  cursor: pointer;
  color:  #fe8777 ;
  transition: all .3s;
}

/*-s-s-ss-s-s-s--s-s-s-s-s-s--s-s-s-s-s-s-s-s-s-s-s-s--s-s--s-s-s-s-s-s-s-s-s--s-ss*/
/*main > .product > .product_category img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}
main > .product > .product > .product_category img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}
.product .product .product img {
    height: 300px;
    width: 400px;
    object-fit: cover;
}*/
/*---------------------------------------------------------------*/


/*------------------------Navigation list--------------------------------*/
.nav__list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0 3rem;
  font-size: 1.8rem;
  

}
.nav__list-item{
  /*transition: 0 .3s;

  float: left;*/
  padding: 1rem;
  position: relative;
  text-decoration: none;
}
/*.nav__list-item:hover{
  cursor: pointer;
  color:  #fe8777 ;

}*/
.nav__list-item:hover,
.nav__list-item:focus-within {
  background: #dadada;
  cursor: pointer;  
}
/*--------------------------------------------------------------*/



/*----------------------------Table-------------------------------*/
table{
  border-collapse: separate;
    width: 103%;
    margin-bottom: 1rem;
    color: rgb(33, 37, 41);
    text-align: center;
    border-spacing: 0px 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 1.5rem;
    margin-left: -8px;
}
thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}
table .thead-dark th{
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;


  border: none;
  padding: 1.5rem 0;
  font-size: 1.4rem;

  border-bottom: 2px solid #dee2e6;
}

table tbody tr{
  margin-bottom: 10px;
  box-shadow: 0 5px 12px -12px rgb(0 0 0 / 29%);


  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}
table tbody th, 
table tbody td {
  border: none;
  padding: 30px;
  font-size: 14px;
  background: #fff;
}
td a {
    color: rgb(226,79,79);
}
td {
    text-align: center;
}
.tong_tien td {
    text-align: right;
    font-size: 1.7rem;
}
.huy_tat {
  font-size: 1.7rem;
}


.div_bang_chi_tiet_hoa_don {
     display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}
.bang_chi_tiet_hoa_don{
  width: 90%;
}
.div_ten_sp {
    width: 40%;
}
.div_anh{
    width: 40%;
}
.div_anh > img{
    height: 100px;
    width: 200px;
    object-fit: cover;
}
/*------------------------------------------------------------*/




/*-----------------------------Footer-------------------------------*/
footer span{
  font-size: 1.2rem;
}
footer{
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem 0;
  
  /*border-top: 1px solid black;*/
}
.social__contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.5rem;
}
.social__contact .fab{
  font-size: 2rem;
}
.social__contact .fab:hover{
cursor: pointer;
color:  #fe8777 ;

}

.footer__nav{

}
/*------------------------------------------------------------*/


/*---------------------------------------Drop button---------------*/
.dropbtn {
  padding: 16px;
  padding-left: 0px;
  font-size: 16px;
  border: none;
  background-color: #ffffff;
    color: rgba(0,0,0,0.8);;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
    right: 0;
  min-width: 185px;
  z-index: 1;
    background-color: #ffffff;
}

.dropdown-content a {
  color: rgba(0,0,0,0.8);;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #dadada;}

.dropdown:hover .dropdown-content {display: block;}


/*---------------------------------------------------------
