* {
  margin: 0;
  padding: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1.4rem;
  margin: 3rem;
  position: relative; 
  background-color: #fff;
}

header{
  width: 100%;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(221, 218, 218, 0.445);
}
a{
  text-decoration: none;
  color: black;
}
.vertical-line{
  width: 1px; /* Line width */
  background-color: rgba(0, 0, 0, 0.377); /* Line color */
  height: 3rem;
}
/* HEADER */
.btn{
  border: none;
  background-color: transparent;
}
.header__left{
  align-self: stretch;
  position: relative;
  flex: 0 0 33.33333%;
}
.header__search{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
.header__left input{
  width: 20rem;
  height: 3rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  transition: all .3s;
}
.header__left input:focus{
  outline: none;
  width: 21rem;
}
.fa-search{
  font-size: 1.8rem;
  transition: all .3s;
}
.fa-search:hover{
  color:  #fe8777 ;
  cursor: pointer;
}
.header__search__btn{
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100rem;
  margin-left: -3rem;
  position: relative;
  z-index: 2;
}
.header__logo span{
  font-size: 3rem;
}
/* .header__logo img{
  width: 12.8rem;
  height: 2.8rem;
} */
.header__submit{
  border: 1px solid rgba(204, 204, 204, 0.555);
  padding: 1rem 2rem;
}
.header__right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 3rem;
}
/* .header__submit span{
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  display: inline-block;
  vertical-align: center;
} */
.header__login{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
  transition: all .3s;
}
.header__login:hover{
  color:  #fe8777 ;

}
.fa-user{
  font-size: 1.6rem;
}
.header__cart{
  position: relative;
}
.header__cart span{
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(40%,40%);
  z-index: 100000;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100rem;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-shopping-bag{
  font-size: 2.7rem;
  transition: all 0.3s;

}
.fa-shopping-bag:hover{
  color:  #fe8777 ;
  cursor: pointer;
}

/* ///////////////////////////////////////////////
////////////////////// BANNER */
.container{
  width: 130rem;
  margin: 3rem auto;
  
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img{
  box-shadow: 0rem 0rem 3rem 0rem  rgba(0, 0, 0, 0.336)
}

/* /////////////////////////////////////
///////////////////////// PRODUCT CATEGORY */

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #ccc;

}
.product__heading{
  font-size: 3rem;
  margin: 6rem;
}
.product_category{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__card{
  flex: 1 1 25%;
  padding: 3rem;
  color: #828282;
}
.product__card--body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 1.3rem 2.4rem 0 rgb(0 0 0 / 5%);
}
.product__photo img{
  width: 100%;
  height: 16rem;
}
.product__info{
align-self: stretch;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
gap: 1.5rem 0;
margin: .9rem;
position: relative;
}
.product__info--text{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: .9rem 0;
}
.group a{
  color: rgb(75, 75, 75);
}
.price{

}
.product__cart{
  position: absolute;
  right: 0;
  bottom: 0;
}
.product__cart--btn{
  font-family: inherit;
  font-weight: 500;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #fe8777;
}
.product__cart--btn:hover{
  cursor: pointer;
  color:  #fe8777 ;
  transition: all .3s;
}


/* ///////////////////////////////////////////
///////////////// FOOTER  */
footer{
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem 0;
}
.social__contact{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.5rem;
}
.social__contact .fab{
  font-size: 2rem;
}
.social__contact .fab:hover{
cursor: pointer;
color:  #fe8777 ;

}

.footer__nav{

}
.nav__list{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0 3rem;
  font-size: 1.8rem;

}
.nav__list-item{
  transition: 0 .3s;
}
.nav__list-item:hover{
  cursor: pointer;
  color:  #fe8777 ;

}
footer span{
  font-size: 1.2rem;
}
