* {
  margin: 0;
  padding: 0; 
}

*,
*::before,
*::after {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}


body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.6rem;
  font-size: 1.4rem;
  margin: 3rem;
  position: relative; 
}

header{
  width: 100%;
  font-family: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(221, 218, 218, 0.445);
}
a{
  text-decoration: none;
  color: black;
}
.vertical-line{
  width: 1px; /* Line width */
  background-color: rgba(0, 0, 0, 0.377); /* Line color */
  height: 3rem;
}
/* HEADER */
.btn{
  border: none;
  background-color: transparent;
}
.header__left{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1.5rem;
}
.fa-search{
  font-size: 1.8rem;
  
}
.header__logo span{
  font-size: 3rem;
}
/* .header__logo img{
  width: 12.8rem;
  height: 2.8rem;
} */
.header__submit{
  border: 1px solid rgba(204, 204, 204, 0.555);
  padding: 1rem 2rem;
}
.header__right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 3rem;
}
/* .header__submit span{
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  display: inline-block;
  vertical-align: center;
} */
.header__login{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 0.5rem;
}
.fa-user{
  font-size: 1.6rem;
}
.header__cart{
  position: relative;
}
.header__cart span{
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(40%,40%);
  z-index: 100000;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100rem;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-shopping-bag{
  font-size: 2.7rem;
}

/* ///////////////////////////////////////////////
////////////////////// BANNER */
.container{
  width: 130rem;
  margin: 3rem auto;
  
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img{
  box-shadow: 0rem 0rem 3rem 0rem  rgba(0, 0, 0, 0.336)
}

/* /////////////////////////////////////
///////////////////////// PRODUCT CATEGORY */

.product{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.product__heading{
  font-size: 3rem;
  margin: 6rem;
}
.product_category{

}
.product__card{
  border: 1px solid #ccc;
}
.product__card--body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 3rem;;
}
.product__photo img{
  width: 100%;
  height: 16rem;
}
.product__info{
align-self: stretch;
display: flex;
justify-content: center;
align-items: flex-start;
flex-direction: column;
gap: 1.5rem 0;
margin: .9rem;
position: relative;
}
.product__info--text{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: .9rem 0;
}
.group a{
  color: rgb(75, 75, 75);
}
.price{

}
.product__cart{
  position: absolute;
  right: 0;
  bottom: 0;
}
.product__cart--btn{

}