*{
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-box;
	font-size: 62.5%; /*10px*/
}

body{
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	height:90rem;
	font-weight: 400;

}
.container{
	width: 100%;
	display:  flex;
	height: 100%;

}
.sidebar{
	display: flex;
	justify-content: center;
	flex-basis: 20% ;
	background-color: grey;
	/*font-weight: 700;*/

}
.nav__list{
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	list-style: none;
	gap: 1.5rem 0;
	width: 100%;


}

.nav__list--item{
	/*display: block;*/
	align-self: stretch;
	padding: 1rem 3rem;

}
.nav__list--item a{
	display: flex;
	align-items: center;
	gap: 0 1rem;
}
.nav__icon{
	color: currentColor;
}
.nav__list--item a:link,
.nav__list--item a:visited{
	color: #fff;
	text-decoration: none;

}
.nav__list--item:hover{
	background-color: black;
	color: #fff;
}
.container main{
	height: 1000px;
	flex-basis: 80% ;
	background-color: pink;
}

.main_top{
	width: 100%;
	height: 50px;
	background-color: red;
}
.main_top_left{
	height: 100%;
	width: 70%;
	background-color: green;
	float: left;
}
.main_top_right{
	height: 100%;
	width: 30%;
	background-color: yellow;
	float: left;
}
.main_content{
	
}