*{
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-box;
	font-size: 62.5%; /*10px*/
}

body{
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	height:90rem;
	font-weight: 400;
	background: #f8f9fd;
	color: gray;
	

}
header{
	width: 100%;
	height: 50px;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgb(187, 179, 179);
	position: relative; 
	background-color: white;
}
table{
	border-collapse: separate;
	border-spacing: 0 10px;
	width: 100%;
    margin-bottom: 1rem;
    color: #212529;
		text-align: center;
		border: none;
		padding: 0 1.5rem;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
table .thead-dark th{
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;


	border: none;
	padding: 30px 0;
	font-size: 14px;

    border-bottom: 2px solid #dee2e6;
}

/* table th, 
table td {
	padding: .75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
} */

table tbody tr{
	margin-bottom: 10px;
	box-shadow: 0 5px 12px -12px rgb(0 0 0 / 29%);


	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}
table tbody th, 
table tbody td {
	border: none;
	padding: 30px;
	font-size: 14px;
	background: #fff;
}

a.header__logo{
	text-decoration: none;
	color: black;
}
p.header__logo{
	margin-bottom: 0%;
}
.header__logo span{
	font-size: 2.5rem;

  text-align: center;
}


.container{
	width: 100%;
	display:  flex;
	height: 100%;

}
.sidebar{
	display: flex;
	justify-content: center;
	flex-basis: 20% ;
	background-color: white;
	/*font-weight: 700;*/
	border-radius: black;

}
.nav__list{
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	list-style: none;
	gap: 1.5rem 0;
	width: 100%;
}

.nav__list--item{
	/*display: block;*/
	align-self: stretch;
	padding: 1rem 3rem;

}
.nav__list--item a{
	display: flex;
	align-items: center;
	gap: 0 1rem;
}
.nav__icon{
	color: currentColor;
}
.nav__list--item a:link,
.nav__list--item a:visited{
	color: black;
	text-decoration: none;

}
.nav__list--item:hover{
	background-color: white;
	color: black;
	text-decoration: underline;
	cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 5px .5rem 0px rgba(0, 0, 0, 0.39);
}
.container main{
	height: 1000px;
	flex-basis: 80% ;
}

.main_top{
	width: 100%;
	height: 50px;
}
.main_top_left{
	height: 100%;
	width: 70%;
	float: left;
	display: flex;
	align-items: center;
}
.main_top_left form{
	width:70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_top_left form input{
	width: 100%;
	height: 3rem;
	padding: .5rem .5rem;
	border-radius: 1rem;
	border: 1px solid #ccc;
}
.main_top_left form button{
	margin-left: -25px;
	border: none;
	background-color:transparent;
}
.main_top_left form input:focus{
	outline:none;
}
.main_top_left form input,
.main_top_left form button{
	display: inline-block;
}
.main_top_right{
	height: 100%;
	width: 30%;
	background-color: yellow;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_content{
	
}

.o_tim_kiem{
	
}