*{
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-box;
	font-size: 62.5%; /*10px*/
}

body{
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	height:90rem;
	font-weight: 400;


}

.container{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container form{
  margin: 0 auto;
}