/*-------------------------------------------------------*/
*{
	margin: 0;
	padding: 0;
}

html{
	box-sizing: border-box;
	font-size: 62.5%; /*10px*/
}

body{
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	height:90rem;
	font-weight: 400;
	background: #f8f9fd;
	color: gray;
}
main {
    margin-top: 5px;
}

.container{
	width: 100%;
	display:  flex;
	margin-top: 5rem;
}
.main_content {
    margin-top: 19px;
}
/*--------------------------------------------------------*/




/*---------------------Header----------------------------------*/
header{
	width: 100%;
	height: 50px;
	font-family: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
	border-bottom: 1px solid rgb(187, 179, 179);
	position: relative; 
	background-color: white;
	position: fixed;
	top: 0;
	z-index: 1000;
}

a.header__logo{
	text-decoration: none;
	color: black;
}
p.header__logo{
	margin-bottom: 0%;
}
.header__logo span{
	font-size: 2.5rem;

	text-align: center;
}

/*-------------------------------------------------------------*/



/*--------------------------------Menu-----------------------------*/
.sidebar{
	display: flex;
	justify-content: center;
	flex-basis: 20% ;
	background-color: white;
	/*font-weight: 700;*/
	border-radius: black;
	position: fixed;
	top: 3rem;
	left: 0;
	height: 100%;
}
.nav__list{
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	list-style: none;
	gap: 1.5rem 0;
	width: 100%;
}

.nav__list--item{
	/*display: block;*/
	align-self: stretch;
	padding: 1rem 3rem;

}
.nav__list--item a{
	display: flex;
	align-items: center;
	gap: 0 1rem;
}
.nav__icon{
	color: currentColor;
}
.nav__list--item a:link,
.nav__list--item a:visited{
	color: black;
	text-decoration: none;

}
.nav__list--item:hover{
	background-color: white;
	color: black;
	/*text-decoration: underline;*/
	cursor: pointer;
	transform: scale(1.05);
	box-shadow: 0px 5px .5rem 0px rgba(0, 0, 0, 0.39);
}
/*----------------------------------------------------------------*/


/*------------------------------Top Div-------------------------------*/
.container main{
	height: 1000px;
	flex-basis: 80% ;
	margin-left: 23rem;
}

.main_top{
    margin-bottom: 10px;
	width: 102%;
    height: 50px;
}
.main_top_left{
	height: 100%;
    width: 78%;
    float: left;
    display: flex;
    align-items: center;
}
.main_top_left form{
	width:70%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_top_left form input{
	 width: 100%;
    height: 3rem;
    margin-left: 7px;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    font-size: 14px;
}
.main_top_left form button{
	margin-left: -25px;
	border: none;
	background-color:transparent;
}
.main_top_left form input:focus{
	outline:none;
}
.main_top_left form input,
.main_top_left form button{
	display: inline-block;
}
.o_tim_kiem{
	
}
.main_top_right{
	height: 100%;
    width: 20%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------------------------------------------------*/


/*-------------------------Main content-----------------------*/
.main_content > .them{
	padding: 3px;
	border: 1.5px solid #888f8c;
	border-radius: 5px	;
	margin: 50px;
	text-decoration: none;
	color: #474a49;
 	margin-left: 7px;
}

.main_content > .them:hover,
.main_content > .them:focus {
    	opacity: .60;
    	background-color: #343a40;
    	color: white;
}
.main_content_the_loai {
	font-family: "", sans-serif;
    margin-top: 5px;
    margin-left: 18px;
    text-align: center;
    color: #343a40;
}
.main_content {
	/*background-image: url("../image/bg.jpg");
	height: 100%;
 	background-repeat: no-repeat;*/
}
/*--------------------------------------------------*/




/*-----------------------------Table--------------------------*/
table{
	border-collapse: separate;
    width: 103%;
    margin-bottom: 1rem;
    color: rgb(33, 37, 41);
    text-align: center;
    border-spacing: 0px 10px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px 1.5rem;
    margin-left: -8px;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
table .thead-dark th{
	color: #fff;
	background-color: #343a40;
	border-color: #454d55;


	border: none;
	padding: 1.5rem 0;
	font-size: 1.4rem;

	border-bottom: 2px solid #dee2e6;
}

table tbody tr{
	margin-bottom: 10px;
	box-shadow: 0 5px 12px -12px rgb(0 0 0 / 29%);


	position: relative;
	padding: .75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: .25rem;
}
table tbody th, 
table tbody td {
	border: none;
	padding: 30px;
	font-size: 14px;
	background: #fff;
}


.fa-edit {
     color: rgb(109,103,103);
}
.fa-minus-square {
    color: rgb(194,49,49);
}
.fa-minus-circle {
    color: rgb(243,33,33);
}
.fa-check {
    color: rgb(82,231,7);
}

a{
  text-decoration: none;
  color: black;
    
}
.a_arrow{
    font-size:20px;
    margin-top: 20px;
    margin-left: 20px;
}
.chi_tiet_ma{
    font-weight: 600;
    font-size:30px;
}

a.ma_hoa_don {
    text-decoration: none;
    color: rgb(10,10,195);
}
a.ma_hoa_don:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 4%;
  border-bottom: 1px solid;
    padding: 2px;
  margin-top: 2px;
    margin-left: 15px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.ma_hoa_don:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.div_bang_chi_tiet_hoa_don {
     display: flex;
    justify-content: center;
    align-items: center;
}
.bang_chi_tiet_hoa_don{
	width: 90%;
}
/*----------------------------------------------------------------*/



/*---------------------------------------Drop button---------------*/
.dropbtn {
  padding: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  border: none;
  background-color: #ffffff;
  color: rgba(0,0,0,0.8);;
    border-radius: 5rem;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
    background-color: #ffffff;
    border-radius: 5rem;
}

.dropdown-content a {
  color: rgba(0,0,0,0.8);;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    border-radius: 5rem;
}

.dropdown-content a:hover {background-color: #dadada;}

.dropdown:hover .dropdown-content {display: block;}


/*---------------------------------------------------------
